<br><br>
  
    <div class="container-md">
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/']">Go back home</button>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
            <th scope="col">Email</th>
            <th><button type="button" class="btn btn-primary" [routerLink]="['/create-user']">New user</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.birth_day}}</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
    
    </div>
  

      



